<h1>New Event</h1>
<form action='/events' method='POST'>
    Date+Time: <input type="datetime-local" name="datetime">
    Title: <input type="text" name="title">
    <button>Submit</button>
</form>